
<ion-content [fullscreen]="true" style="background-color: rgb(217,217,217, 0.9);">

  <img src="./assets/banner.png"/>
  <ion-title class="bannerTitle">SilverFox</ion-title>

    <div class="containerr">
      <div class="content">
        <h1 class="headingg">Create Account</h1>
      </div>
    </div>


    <form class="textboxxes" [formGroup]="credentials">
    <ion-card class="textCard">
      <ion-item lines="none">
        <ion-input name="Full Name" placeholder="Full Name" type="text" required formControlName="fullName"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="textCard">
      <ion-item lines="none">
        <ion-input placeholder="NRIC / Passport No." type="text" required formControlName="nric" id="nric_html"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="textCard">
      <ion-item lines="none">
        <ion-input name="Email" placeholder="Email" type="email"  id="user_email" required formControlName="email"></ion-input>

      </ion-item>
    </ion-card>

    <ion-card class="textCard">
      <ion-item lines="none">
        <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card class="textCard">
      <ion-item lines="none">
        <ion-input placeholder="Confirm Password" type="password"></ion-input>
      </ion-item>
    </ion-card>
    </form>

<ion-button class="button" (click)="register()">
  Create  
  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  
</ion-button>

 

  <p class="center" class="login"  [routerLink]="['/login-page']"><u> Already have an account? <br> Login here </u> </p>
</ion-content>