<ion-content [fullscreen]="true">
  <ion-title class="header">
    Your social worker <br> has been alerted
   </ion-title>
   <p class="mid">Give us more details on your emergency: </p>

   <div class="flex-center">
    <ion-button class="button" >
      <ion-img src="./assets/falling.png"></ion-img>
      Experienced a fall
    </ion-button>
   </div>

   <div class="flex-center" >
    <ion-button class="button" >
      <ion-icon slot="start" name="medkit-outline"></ion-icon>
      Urgent medical attention
    </ion-button>
   </div>

   <div class="flex-center">
    <ion-button class="button" >
      <ion-img src="./assets/headache.png"></ion-img>
      Feeling unwell
    </ion-button>
   </div>   


</ion-content>