<ion-content [fullscreen]="true">
  <ion-title class="header">
    Give us more details on <br> your emergency:
  </ion-title>
  <p class="mid"> Your social worker will be alerted after pressing 'Submit' </p>




  <!--
  <ion-list>
    <ion-item class="ion-no-padding" lines="none" *ngFor="let entry of form">
      <ion-card class="textCard" color="primary" >
        <ion-card-content>
          <ion-checkbox color="danger" labelPlacement="end" slot="start" [(ngModel)]="entry.isChecked"> <ion-text class="text"> {{entry.val}} </ion-text>
          </ion-checkbox>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
-->

  <ion-list>
    <ion-card color="primary" class="card">
      <ion-card-content>
        <ion-checkbox color="danger" labelPlacement="end" slot="start" name="fall" [(ngModel)]="fall">
          <ion-text class="text"> Experienced a fall </ion-text>
        </ion-checkbox>
      </ion-card-content>
    </ion-card>

    <ion-card color="primary" class="card">
      <ion-card-content>
        <ion-checkbox color="danger" labelPlacement="end" slot="start" name="medical" [(ngModel)]="medical">
          <ion-text class="text"> Urgent medical attention </ion-text>
        </ion-checkbox>
      </ion-card-content>
    </ion-card>

    <ion-card color="primary" class="card">
      <ion-card-content>
        <ion-checkbox color="danger" labelPlacement="end" slot="start" name="unwell" [(ngModel)]="unwell">
          <ion-text class="text"> Feeling unwell </ion-text>
        </ion-checkbox>
      </ion-card-content>
    </ion-card>

    <ion-card color="primary" class="card">
      <ion-card-content lines="none">
        <ion-input name="Others" type="text" required  [(ngModel)]="comments"> 
          <ion-text class="text"> Other comments </ion-text>
        </ion-input>
      </ion-card-content>
    </ion-card>

  </ion-list>


  <ion-button class="button" (click)="updateAlerts(fall, medical, unwell, comments)">
    Submit
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

  </ion-button>

</ion-content>