<ion-content [fullscreen]="true">
  <ion-title class="header">
    Give us more details on <br> your emergency:
  </ion-title>
  <p class="mid"> Your social worker will be alerted after pressing 'Submit' </p>

  <ion-list>
    <ion-card color="primary" class="card">
      <ion-card-content>
        <ion-checkbox color="danger" labelPlacement="end" slot="start"> <ion-text class="text"> Experienced a fall
          </ion-text> </ion-checkbox>
      </ion-card-content>
    </ion-card>


    <ion-card color="primary" class="card">
      <ion-card-content>
        <ion-checkbox color="danger" labelPlacement="end" slot="start"> <ion-text class="text"> Urgent medical attention
          </ion-text> </ion-checkbox>
      </ion-card-content>
    </ion-card>

    <ion-card color="primary" class="card">
      <ion-card-content>
        <ion-checkbox color="danger" labelPlacement="end" slot="start"> <ion-text class="text"> Feeling unwell
          </ion-text> </ion-checkbox>
      </ion-card-content>
    </ion-card>

    <ion-card color="primary" class="card">
      <ion-card-content lines="none">
        <ion-input name="Others" type="text" required>Other comments</ion-input>
      </ion-card-content>
    </ion-card>

  </ion-list>
  <ion-button class="button" (click)="submit()">
    Submit  
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    
  </ion-button>


  <!--
  <div class="flex-center">
    <ion-button class="button">
      <ion-img src="./assets/falling.png"></ion-img>
      Experienced a fall
    </ion-button>
  </div>

  <div class="flex-center">
    <ion-button class="button">
      <ion-icon slot="start" name="medkit-outline"></ion-icon>
      Urgent medical attention
    </ion-button>
  </div>

  <div class="flex-center">
    <ion-button class="button">
      <ion-img src="./assets/headache.png"></ion-img>
      Feeling unwell
    </ion-button>
  </div>
-->

</ion-content>