<ion-content [fullscreen]="true">
  <ion-header>
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-back" size="normal"></ion-icon>
    </ion-button>
    <ion-title class="header">
    Change <br> Password
  </ion-title>
  </ion-header>
  
  <p class="sub">Enter and confirm new password</p>
  <form>
    <div style="align-self: center;display: flex;align-items: center;margin-top: 60px;flex-direction: column;">
      <ion-card class="textCard">
        <ion-item>
          <ion-icon name="lock-closed-outline" style="margin-right: 8px;color: black;"></ion-icon>
          <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" style="font-size: 18px;" required></ion-input>
        </ion-item>
      </ion-card>
      <ion-card class="textCard">
        <ion-item>
          <ion-icon name="lock-closed-outline" style="margin-right: 8px;color: black;"></ion-icon>
          <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password" style="font-size: 18px;" required></ion-input>
        </ion-item>
      </ion-card>
      <ion-button (click)="onChangePassword()"  type="submit" style="border-radius: 25px;color: #F5585C; width: 80%; height: 50px; margin-top: 60%;box-shadow: 5px 5px 5px lightgray;" color="primary">
        <ion-label style="color: white;text-transform: none;font-size: 16px;font-family: 'Sen', sans-serif;">
          <b>Change Password</b>
        </ion-label>
      </ion-button>
    </div>
  </form>
</ion-content>