

 

<ion-content [fullscreen]="true">
  <ion-title class="header">
    Welcome, <br> {{ currentUser.name }}
   </ion-title>
   <p class="mid">Ready to start your day? </p>


   <div class="flex-center">
    <ion-button class="button" (click)="updateCheckInStatus()">
      <ion-icon slot="start" name="log-in"></ion-icon>
      Check in
    </ion-button>
   </div>


   <p class="subtitle emergency"> Emergency Button </p>
  <div class="container" style="margin-right: 30px">
 
      <ion-button shape="circle" id="present-alert">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>  
    <ion-alert
    trigger="present-alert"
    header="Do you want to alert your social worker?"
    [buttons]="alertButtons"
    
    > </ion-alert> <br> <br>


  </div>

  <p class="subtitle" style="width: 30%; margin-left:72%; margin-top: 5px" >
    Press to alert 
    social worker
    </p>
 
 

</ion-content>
