<ion-content [fullscreen]="true">
  <ion-title class="header">
    Welcome, <br> {{ currentUser.name }}
   </ion-title>
   <p class="mid">Ready to start your day? </p>

   <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)"> 
    <ion-refresher-content></ion-refresher-content> 
  </ion-refresher>

   <div class="flex-center">
    <ion-button *ngIf="isCheckIn !== null" class="button" [color]="isCheckIn ? 'success' : (isClicked ? 'success' : 'primary')"
      (click)="updateCheckInStatus()">
      <ion-icon slot="start" name="log-in"></ion-icon>
      {{ isClicked ? 'Checked In' : (isCheckIn ? 'Checked In' : 'Check In') }}
    </ion-button>
  </div>


  <div style="display: flex;flex-direction: column;margin-top: 5%;">
  <p class="subtitle emergency"> Emergency Button </p>
  <div class="container" style="margin-right: 37.5px">

    <ion-button shape="circle" id="present-alert">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-alert trigger="present-alert" header="Do you want to alert your social worker?" [buttons]="alertButtons">
    </ion-alert> <br> <br>



  </div>

  <p class="subtitle" style="width: 90px; align-self: end; margin-top: 5px; margin-right: 15px;" >
    Press to alert 
    social worker
    </p>

  </div>
 
 

</ion-content>
