.header {
    font-weight: 600;
    font-size: 32px;
    margin-top: 40px;
    margin-left: 15px;
    font-family: 'Aclonia';
}

.mid {
    margin-left: 37px;
    font-size: 20px;
    color: #908F8F;
    margin-top: 8px;
}