<ion-content [fullscreen]="true">
  <ion-title class="header">
    Welcome, <br> {{ currentUser.name }}
  </ion-title>
  <p class="mid">Status Overview </p>

  <div class="flex-center">
    <ion-card class="checkedin">
      <ion-text class="text">
        Checked in:
      </ion-text>
    </ion-card>
  </div>

  <!-- <div class="flex-center">
    <ion-avatar class="item-avatar" *ngFor="let document of inChargeDocuments">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      <ion-label class="flex-center">elderly</ion-label>
    </ion-avatar>
  </div>-->
  <div class="profile-pictures">
    <div class="flex-center" class="profile-picture" *ngFor="let document of inChargeDocuments">
      <ion-avatar class="item-avatar" *ngIf="document.checkedIn === true">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Silhouette of a person's head">
        <ion-label class="text-below-avatar">{{document.name}}</ion-label>
      </ion-avatar>
    </div>
  </div>



  <div class="flex-center">
    <ion-card class="notcheckedin">
      <ion-text class="text">
        Not Checked in:
      </ion-text>
    </ion-card>
  </div>


  <div class="profile-pictures">
    <div class="flex-center" class="profile-picture" *ngFor="let document of inChargeDocuments">
      <ion-avatar class="item-avatar"  *ngIf="document.checkedIn === false">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Silhouette of a person's head">
        <ion-label class="text-below-avatar">{{document.name}}</ion-label>
      </ion-avatar>
    </div>
  </div>

</ion-content>